<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="../static/custom.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="import" href="nav.html" >
    <title>Home</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <img class="img1" style="width: 100%; filter: blur(3px);" src="../static/one.jpg">
      <div class="centered">Welcome To COVID-19 Stats</div>
    </div>
    <br>
    <br>
    
      <div class="homehead">HOME</div>
      
      <div class="container-fluid card shadow p-3 mb-5 bg-white rounded" style="width: 78rem;">
      <div class="card-body texthome">
        <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.

          <span>Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness 
          and recover without requiring special treatment.  Older people, and those with underlying medical 
          problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more 
          likely to develop serious illness.</span><br><br>
          
          <span>The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, 
          the disease it causes and how it spreads. Protect yourself and others from infection by washing your 
          hands or using an alcohol based rub frequently and not touching your face.</span><br><br> 
          
          <span>The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an 
          infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for 
          example, by coughing into a flexed elbow).</span><br><br>
          
          <span>At this time, there are no specific vaccines or treatments for COVID-19. However, there are many ongoing
          clinical trials evaluating potential treatments. WHO will continue to provide updated information as soon 
          as clinical findings become available.</span><br><br>
        </p>
      </div>
    </div>


    <div class="container-fluid card" style="width: 78rem;">
      <img class="img2" style="width: 100%;" src="../static/three.jpg">
    </div>
    <br>
    <br>

    <div class="homehead">ABOUT</div>
      
      <div class="container-fluid card shadow p-3 mb-5 bg-white rounded" style="width: 78rem;">
      <div class="card-body texthome">
        <p>

          <span>In this spread of coronavirus epidemic it is very necessary to track it and break the chain of
            transmission of pathogen from one bosy to other.</span><br><br>
          
          <span>COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.

          <span>Most common symptoms:</span>
            <ul>
              
              <li>fever.</li>
                <li>dry cough.</li>
                  <li>tiredness.</li>
                </ul>
                    <span>Less common symptoms:</span>
                    <ul>
                      <li>aches and pains.</li>
                        <li>sore throat.</li>
                          <li>diarrhoea.</li>
                            <li>conjunctivitis.</li>
                              <li>headache.</li>
                                <li>loss of taste or smell.</li>
                                  <li>a rash on skin, or discolouration of fingers or toes.</li>
                                </ul>
                  <span>Serious symptoms:</span>
            <ul>
            <li>difficulty breathing or shortness of breath.</li>
            <li>chest pain or pressure.</li>
            <li>loss of speech or movement.</li>
           </ul>
            
           <span>Seek immediate medical attention if you have serious symptoms.  Always call before visiting your doctor or health facility.</span><br><br> 
            
            <span>People with mild symptoms who are otherwise healthy should manage their symptoms at home. 
            
            On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days.</span><br><br> 
          
          <span>The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an 
          infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for 
          example, by coughing into a flexed elbow).</span><br><br>
          
          <span>At this time, there are no specific vaccines or treatments for COVID-19. However, there are many ongoing
          clinical trials evaluating potential treatments. WHO will continue to provide updated information as soon 
          as clinical findings become available.</span><br><br>

          <span>SO WE ARE PROVIDING FULL TRACKING AND STATS OF CORONA VIRUS TO KEEP ALL OF YOU UPDATED AND TAKE NECESSARY ACTIONS
            ON RIGHT TIME
          </span>
        </p>
      </div>
    </div>

    
    <div class="container-fluid card" style="width: 78rem;">
      <img class="img2" style="width: 100%;" src="../static/two.jpg">
    </div>
    <br>
    <br>


    <div class="homehead">Services</div>

    <div class="container">
        
        
        
      <div class="col-md-4"><a href="/signup">
          <div class="card shadow card shadow p-3 mb-5 bg-white rounded" style="width: 20rem;">
              <div class="inner">
                  <img src="../static/two.jpg" class="card-img-top" alt="Logo">
              </div>
              <div class="card-body text-center">
                  <p class="card-text">Know The Live Stats</p>
              </div>
          </div>
        </a></div>
      
      <div class="col-md-4">
          <div class="card shadow card shadow p-3 mb-5 bg-white rounded" style="width: 20rem;">
              <div class="inner">
                  <img src="../static/one.jpg" class="card-img-top" alt="Logo">
              </div>
              <div class="card-body text-center">
                  <p class="card-text">Nearest Hospitals</p>
              </div>
          </div>
      </div>
      
      <div class="col-md-4">
          <div class="card shadow card shadow p-3 mb-5 bg-white rounded" style="width: 20rem;">
              <div class="inner">
                  <img src="../static/three.jpg" class="card-img-top" alt="Logo">
              </div>
              <div class="card-body text-center">
                  <p class="card-text">Helplines & Emergency</p>
              </div>
          </div>
      </div>
   </div> <br><br>


  </body>
</html>